@import "tailwindcss";

@theme {
	--color-old-bg: #f6f8ff;
	--color-old-red: #cf3b3b;
	--color-old-gold: #a17d24;
	--color-old-blue: #253d5b;
	--color-old-green: #355834;
	--color-old-purple: #564d7c;

	--color-olive-50: oklch(0.988 0.003 106.448);
	--color-olive-100: oklch(0.968 0.007 115.705);
	--color-olive-200: oklch(0.929 0.008 114.228);
	--color-olive-300: oklch(0.88 0.011 106.62);
	--color-olive-400: oklch(0.736 0.023 109.849);
	--color-olive-500: oklch(0.581 0.031 105.077);
	--color-olive-600: oklch(0.465 0.025 110.265);
	--color-olive-700: oklch(0.393 0.023 110.759);
	--color-olive-800: oklch(0.286 0.018 107.46);
	--color-olive-900: oklch(0.228 0.015 107.52);
	--color-olive-950: oklch(0.156 0.011 116.605);

	--color-mauve-50: oklch(0.985 0 0);
	--color-mauve-100: oklch(0.962 0.003 286.35);
	--color-mauve-200: oklch(0.921 0.005 314.803);
	--color-mauve-300: oklch(0.866 0.01 320.549);
	--color-mauve-400: oklch(0.711 0.014 321.914);
	--color-mauve-500: oklch(0.539 0.03 318.203);
	--color-mauve-600: oklch(0.433 0.027 318.953);
	--color-mauve-700: oklch(0.362 0.028 318.947);
	--color-mauve-800: oklch(0.263 0.018 322.057);
	--color-mauve-900: oklch(0.213 0.014 320.629);
	--color-mauve-950: oklch(0.144 0.007 314.705);

	--color-mist-50: oklch(0.986 0.002 165.078);
	--color-mist-100: oklch(0.962 0.003 165.076);
	--color-mist-200: oklch(0.925 0.005 214.33);
	--color-mist-300: oklch(0.87 0.007 233.655);
	--color-mist-400: oklch(0.724 0.014 221.485);
	--color-mist-500: oklch(0.559 0.022 212.626);
	--color-mist-600: oklch(0.449 0.018 212.085);
	--color-mist-700: oklch(0.378 0.015 209.819);
	--color-mist-800: oklch(0.274 0.012 214.537);
	--color-mist-900: oklch(0.218 0.01 234.226);
	--color-mist-950: oklch(0.149 0.005 264.474);

	--color-taupe-50: oklch(0.985 0.003 84.559);
	--color-taupe-100: oklch(0.96 0.003 345.212);
	--color-taupe-200: oklch(0.922 0.005 34.309);
	--color-taupe-300: oklch(0.87 0.007 53.434);
	--color-taupe-400: oklch(0.714 0.014 41.161);
	--color-taupe-500: oklch(0.547 0.022 46.616);
	--color-taupe-600: oklch(0.437 0.016 41.066);
	--color-taupe-700: oklch(0.367 0.016 30.024);
	--color-taupe-800: oklch(0.269 0.013 34.328);
	--color-taupe-900: oklch(0.214 0.01 52.935);
	--color-taupe-950: oklch(0.145 0.005 85.92);
}
