---
import Certificates from "../components/Certificates.astro";
import Education from "../components/Education.astro";
import Header from "../components/Header.astro";
import Technical from "../components/Technical.astro";
import Work from "../components/Work.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="mx-auto my-0 flex max-w-4xl flex-col p-8 text-center">
		<Header />
		<Technical />
		<Work />
		<Certificates />
		<Education />
	</div>
</Layout>
