---
import Certificates from "../components/Certificates.astro";
import Contact from "../components/Contact.astro";
import Education from "../components/Education.astro";
import Header from "../components/Header.astro";
import Work from "../components/Work.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="flex flex-col gap-8 pb-16">
		<Header />
		<Work />
		<Certificates />
		<Education />
		<Contact />
	</div>
</Layout>
