<div>
	<h1 class="text-(--color-custom-blue) my-4 text-left text-3xl font-semibold">Certificates</h1>
	<div
		class="border-(--color-custom-blue) text-(--color-custom-blue) flex flex-col border bg-white drop-shadow-xs"
	>
		<div class="flex items-center justify-between p-4">
			<span class="text-left text-xl font-semibold">
				AZ-204 Azure Developer Associate
			</span>
			<a
				href="https://learn.microsoft.com/api/credentials/share/en-us/HannesWidrig/140F9D41036965EF?sharingId=133A95F302FBCD6D"
				target="_blank"
			>
				<img alt="azure logo" src="./assets/azure.svg" class="w-12" loading="lazy" />
			</a>
		</div>
	</div>
</div>
