<div class="mb-8">
	<h1 class="text-blue text-left text-3xl font-semibold my-4">Certificates</h1>
	<div
		class="flex flex-col bg-white text-blue border border-blue drop-shadow-sm"
	>
		<div class="flex items-center justify-between p-4">
			<span class="text-xl text-left font-semibold">
				AZ-204 Azure Developer Associate
			</span>
			<a
				href="https://learn.microsoft.com/api/credentials/share/en-us/HannesWidrig/140F9D41036965EF?sharingId=133A95F302FBCD6D"
				target="_blank"
			>
				<img alt="azure logo" src="./assets/azure.svg" class="w-12" />
			</a>
		</div>
	</div>
</div>
