---
interface Props {
	subject?: boolean;
	name: string;
}

const { subject, name } = Astro.props;
---

<div
	class="flex border border-green px-2 py-1"
	class:list={[
		subject
			? "w-full bg-green text-white drop-shadow md:w-32"
			: "bg-white text-green",
	]}
>
	{name}
</div>
