---
interface Props {
	subject?: boolean;
	name: string;
}

const { subject, name } = Astro.props;
---

<div
	class="border-old-green flex border px-2 py-1"
	class:list={[
		subject
			? "bg-old-green w-48 text-white drop-shadow-sm"
			: "text-old-green bg-white",
	]}
>
	{name}
</div>
