---
interface Props {
	subject?: boolean;
	name: string;
}

const { subject, name } = Astro.props;
---

<div
	class="border-(--color-custom-green) flex border px-2 py-1"
	class:list={[
		subject
			? "bg-(--color-custom-green) w-full text-white drop-shadow-sm md:w-32"
			: "text-(--color-custom-green) bg-white",
	]}
>
	{name}
</div>
