---
interface Props {
	subject?: boolean;
	name: string;
}

const { subject, name } = Astro.props;
---

<div
	class="border-green flex border px-2 py-1"
	class:list={[
		subject
			? "bg-green w-full text-white drop-shadow md:w-32"
			: "text-green bg-white",
	]}
>
	{name}
</div>
