<div>
	<h1 class="text-(--color-custom-blue) my-4 text-left text-3xl font-semibold">Education</h1>
	<div
		class="border-(--color-custom-purple) text-(--color-custom-purple) flex flex-col border bg-white p-4 text-left drop-shadow-xs"
	>
		<div class="flex w-full justify-between">
			<div class="mb-2 text-xl font-semibold">
				{"B.S. Computer Science w/ Systems"}
			</div>
		</div>
		<div class="text-sm font-medium">{"Taylor University"}</div>
		<div class="text-sm font-medium">{"Upland, IN"}</div>
	</div>
</div>
