<div>
	<h1 class="my-4 text-left text-3xl font-semibold text-blue">Education</h1>
	<div
		class="flex flex-col border border-purple bg-white p-4 text-left text-purple drop-shadow-sm"
	>
		<div class="flex w-full justify-between">
			<div class="mb-2 text-xl font-semibold">
				{"B.S. Computer Science w/ Systems"}
			</div>
			<div class="text-sm font-medium">
				{"Fall 2016 - Fall 2018"}
			</div>
		</div>
		<div class="text-sm font-medium">{"Taylor University"}</div>
		<div class="text-sm font-medium">{"Upland, IN"}</div>
	</div>
</div>
