---
const education = {
	degree: "B.S. Computer Science with Systems",
	school: "Taylor University",
	location: "Upland, IN",
	date: "December 2018",
};
---

<section>
	<h2
		class="mb-3 border-b border-black pb-0.5 text-lg tracking-wide uppercase dark:border-white"
	>
		Education
	</h2>

	<div class="text-[1.05rem] leading-snug">
		<div
			class="flex flex-col sm:flex-row sm:items-baseline sm:justify-between sm:gap-4"
		>
			<p class="font-bold">
				<span class="mr-2">•</span>
				{education.school}
			</p>
			<p class="pl-4 sm:pl-0">{education.location}</p>
		</div>
		<div
			class="flex flex-col pl-4 sm:flex-row sm:items-baseline sm:justify-between sm:gap-4"
		>
			<p class="italic">{education.degree}</p>
			<p class="italic">{education.date}</p>
		</div>
	</div>
</section>
