---
const job_title = "Senior Software Engineer / Managing Consultant";
const dmi_href = "https://dminc.com";
---

<div class="text-blue flex flex-col text-left">
	<h1 class="pt-6 text-3xl font-bold">Hannes Widrig</h1>
	<div>
		<span class="font-medium">{job_title}</span>
		<span>at</span>
		<a class="underline" href={dmi_href} target="_blank">DMI</a>
	</div>
</div>
