<div class="pt-8 pb-16 text-blue text-3xl font-bold text-left">
	I'm Hannes Widrig, Senior Software Engineer at
	<a class="underline" href="https://dminc.com/"> DMI</a>, find me on
	<a class="underline" href="https://github.com/hanneswidrig"> GitHub</a>
</div>
