---
const job_title = "Senior Software Engineer";
const job_href = "https://rebuildmanufacturing.com/";
---

<div class="text-(--color-custom-blue) flex flex-col text-left">
	<h1 class="pt-6 text-3xl font-bold">Hannes Widrig</h1>
	<div>
		<span class="font-medium">{job_title}</span>
		<span>at</span>
		<a class="underline" href={job_href} target="_blank">Re:Build Manufacturing</a>
	</div>
</div>
