---
import Chip from "./Chip.astro";

type TechnicalRecord = { name: string; items: string[] };

const skills: TechnicalRecord[] = [
	{
		name: "Front-End",
		items: [
			"TypeScript",
			"React",
			"Svelte",
			"SolidJS",
			"Angular",
			"JavaScript",
		],
	},
	{ name: "Back-End", items: ["TypeScript", "Go", "C#", "Python", "Ruby"] },
	{ name: "Server", items: ["Node.js", "Bun", ".NET"] },
	{ name: "Cloud", items: ["AWS", "Azure"] },
	{
		name: "Databases",
		items: ["PostgreSQL", "SQLite", "Redis", "Microsoft SQL Server"],
	},
	{
		name: "Tools",
		items: ["VSCode", "Excalidraw", "Jetbrains", "Figma", "Docker", "Git"],
	},
];
---

<div class="flex flex-col gap-3">
	{
		skills.map((category) => (
			<div class="flex flex-wrap gap-1 md:flex-nowrap">
				<Chip subject name={category.name} />

				{category.items.map((framework) => (
					<Chip name={framework} />
				))}
			</div>
		))
	}
</div>
