---
import Chip from "./Chip.astro";

type TechnicalRecord = { name: string; items: string[] };

const skills: TechnicalRecord[] = [
	{
		name: "Languages",
		items: ["TypeScript", "Go", "C#", "Python", "Ruby"],
	},
	{
		name: "Front-End",
		items: ["React", "Svelte", "Tailwind CSS"],
	},
	{
		name: "Back-End",
		items: ["Node.js", "Bun", ".NET"],
	},
	{
		name: "Cloud & DevOps",
		items: ["AWS", "Azure", "Terraform", "Docker"],
	},
	{
		name: "Databases",
		items: ["PostgreSQL", "DynamoDB", "Redis"],
	},
	{
		name: "Testing",
		items: ["Vitest", "Playwright"],
	},
];
---

<div class="flex flex-col gap-3">
	{
		skills.map((category) => (
			<div class="flex flex-wrap gap-1 md:flex-nowrap">
				<Chip subject name={category.name} />

				{category.items.map((framework) => (
					<Chip name={framework} />
				))}
			</div>
		))
	}
</div>
